<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      </assemblyBinding> 
       <etwEnable enabled="false" />
	  <appDomainManagerAssembly value="uevmonitor, Version=0.0.0.0, Culture=neutral, PublicKeyToken=66603d32d367963d" />  
	  <appDomainManagerType value="MyAppDomainManager" />  
   </runtime>
</configuration>
